.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  z-index: 1;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.02) translateY(-0.5rem);
    z-index: 2;
  }

  &__icon {
    font-size: 4rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}
